
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin:1rem;
    
}

.input-box{
    border:none;
    padding:0.2rem;
    width:100%;
    height: 40%;
    word-wrap: break-word;

}
input {
    border: none;
    
  }
  
  input:focus {
    outline: none;
    border: none;
  }
.add{
    padding:0.2rem;
    background-color: #3F51B7;
    color:white;
}
legend{
    font-size: 0.8rem;
    font-weight: bold;
    color:#6E6A67;
    display:flex;
    justify-content: space-around;
}
fieldset{
    width:100%;
}