*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.popup{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius:1rem;
}


