
.header{
    background-color: #1C76F1;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:10%;
}
h1{
    font-size: 2.5rem;
    font-weight: bold;

}
.main{
    display: flex;
    justify-content: space-between;
    height: 90%;
    width:100%;
    background-color: #626363;
}

.partial-main{
    width:25%;
    min-height: 10%;
    margin:0.3rem;
}

.aside{
    background-color:#303030;
}
.todo{
}

.done{
}

.in-progress{

}