
.task{
    width:100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border:1px solid rgb(107, 106, 106);
    border-radius:0.2rem;
    height:10%;
    padding:0.3rem;
}
.icons{
    display: flex;
    justify-content: space-around;
}
img{
    height: 1.5rem;
}
.task-name{
    width:80%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
